{%extends 'main.html'%}
{%load static%}
{%block content%}
<style>
    div.scrollable{
        width: auto;
        height: 100%;
        word-break: break-word;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
    <div class="container-fluid">
        <a href="{%url 'insights' id%}" class="navbar-brand btn" style="background-color: #003366; color: white;"><i class="fa fa-arrow-left"></i></a>
        <h3>Visitors</h3>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <div class="nav-link active" aria-current="page">Current plan: <span style="color: #003366; font-weight: bold;">Premium</span> <span></span></div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'logout'%}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav><br>
<div class="container">
    <div class="row">
        <div class="text-center bg-light rounded-top" style="color: #025091;">Links</div>
        <table class="table">
            <thead class="bg-light">
                <tr>
                    <th scope="col"><div class="scrollable">{{inputurl}}</div></th>
                    <th scope="row"></th>
                </tr>
                <tr>
                    <th scope="col"><div class="scrollable">{{outputurl}}</div></th>
                    <th scope="row"></th>
                </tr>
            </thead>
        </table>
        <table class="table bg-light table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Click Date</th>
                    <th scope="col">Location</th>
                    <th scope="col">Device</th>
                    <th scope="col">Browser</th>
                </tr>
            </thead>
            <tbody>
                {%for data in data%}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{data.date}}</td>
                    <td>{{data.location}}</td>
                    <td>{{data.type_of_device}}</td>
                    <td><div class="scrollable">{{data.browser}}</div></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{%endblock content%}